.order-food {
    position: relative;
    display: flex;
    align-items: center;
    gap: 65px;
    justify-content: center;
    padding: 50px;
  }
  .coca-cola {
    position: absolute;
    top: -68px;
    left: 0;
    width: 106px;
    height: 148px;
  }
  .food {
    position: absolute;
    top: -50px;
    right: 0;
    width: 155px;
    height: 135px;
  }
  .images-food img {
    width: 480px;
    max-width: 100%;
  }
  .highlight {
    color: orange;
    font-size: 20px;
  }
  .content-food {
    text-align: initial;
    width: 426px;
    max-width: 100%;
  }